* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../imagenes/background.jpg); */
    background-color: rgb(182, 182, 182);
    background-size: cover;
}

header {
    background-color:#322411;
    height: 150px;
}

#titulo {
    font-family: 'Lobster-Regular';
    font-size: 5em;
    color: white;
}

#logo {
    margin-top: -7.2%;
}

#instrumentos img {
    width: 50%;
    margin-top: 20%;
    margin-left: 20%;
}
